<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <PreferencesGroup title="Group Settings" summary="All group settings must be equal on all devices.">
        <Preference xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="integerPreference" min="1025" max="49151" name="Broadcast Port" summary="@value" value="1337" id="port_broadcast"/>
        <Preference xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="textPreference" maxLegth="32" name="Group Password" summary="@value" value="anybeamRockt1137" id="group_password"/>
        <Preference xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="listPreference" name="Encryption Type" summary="@value" value="AES128" id="group_encryption_type">
            <Possibilities>
                <Possibility value="NONE" readableValue="No Encryption"/>
                <Possibility value="DES" readableValue="DES"/>
                <Possibility value="AES128" readableValue="AES 128"/>
                <Possibility value="AES256" readableValue="AES 256"/>
            </Possibilities>
        </Preference>
    </PreferencesGroup>
    <PreferencesGroup title="Client Settings" summary="">
        <Preference xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="textPreference" maxLegth="32" name="Client Name" summary="@value" value="GS70" id="client_name"/>
        <Preference xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="integerPreference" min="1025" max="64000" name="Data Port" summary="@value" value="1340" id="port_data"/>
        <Preference xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="listPreference" name="Device Type" summary="@value" value="TYPE_UNKNOWN" id="client_type">
            <Possibilities>
                <Possibility value="TYPE_SMARTPHONE" readableValue="Smartphone"/>
                <Possibility value="TYPE_DESKTOP" readableValue="Desktop"/>
                <Possibility value="TYPE_LAPTOP" readableValue="Laptop"/>
                <Possibility value="TYPE_TABLET" readableValue="Tablet"/>
                <Possibility value="TYPE_UNKNOWN" readableValue="Unknown"/>
            </Possibilities>
        </Preference>
    </PreferencesGroup>
    <PreferencesGroup title="General Settings" summary="">
        <Preference xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="booleanPreference" name="Auto Open Links" summary="Auto open received links" value="True" id="gen_auto_open_links"/>
        <Preference xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="booleanPreference" name="Auto Open Files" summary="Auto open received files" value="false" id="gen_auto_open_files"/>
        <Preference xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="booleanPreference" name="Start with system" summary="Start anybeam automatically" value="False" id="gen_auto_start_system"/>
    </PreferencesGroup>
</Settings>
